@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  background: #212121;
  color: #f2f2f2;
  --medium-blue: #3677e0;
}

a {
  color: var(--medium-blue);
}

h1 {
  font-size: 1.5rem;
  margin-top: 50px;
}

.loading {
  align-self: center;
}

.loading {
  font-size: 30px;
  animation: loading-spin infinite 2s cubic-bezier(0.5, 0.7, 0.3, 0.5);
}

.user-icon {
  color: var(--medium-blue);
  font-size: 40px;
  margin-right: 10px;
}

.exit-icon {
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.dropshadow-svg {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.95));
}

@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 425px) {
  body {
    font-size: 0.9rem;
  }
  h1 {
    font-size: 1.2rem;
  }
  .user-icon {
    font-size: 25px;
  }

  .loading {
    font-size: 20px;
  }
}
